{% extends 'base.html.twig' %}


{% block titre_page %} <strong class="text-primary">Détail du catalogue</strong>{% endblock %}
{% block titre_description %}Les informations sur le catalogue
{% endblock %}
{% block body %}

    <style>
        li {
            display: inline;
            list-style: none; /* pour enlever les puces sur IE7 */
            margin: 10px;
        }
        .gallery {
            display: inline-block;
            margin-right: 20px;
            vertical-align: top;

        }
    </style>
    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Information du catalogue</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <ul class="list-inline">
                        {% if app.user|ifRole('ROLE_GESTION_GROUPE') %}
                            <li>
                                <a href="{{ path('catalogue_edit', {'id' : catalogue.id}) }}" class="btn btn-primary" ><i class="fa fa-edit"></i> Modifier</a>
                            </li>
                        {% endif %}
                       </ul>
                    <table class="table table-striped">
                        <tr>
                            <td>Titre: </td>
                            <td>{{ catalogue.titre }} </td>
                        </tr>

                        <tr>

                            <td colspan="2">
                                <label for="text"> Piece jointe : <b class="text-danger" id="err_text"></b></label>
                                <div class="row">
                                    <ul>
                                        {% if pjcatalogues  %}
                                            {% for pjcatalogue in pjcatalogues %}
                                                <li>
                                                    <div class="gallery">
                                                        <a target="_blank" href="{{ asset('document/'~pjcatalogue.lien) }}">
                                                            {% if pjcatalogue.ext =="pdf"%}
                                                                <img src="{{ asset('document/divers/pdf.png') }}" alt="Cinque Terre" width="50px" height="50px">
                                                            {% endif %}

                                                            {% if pjcatalogue.ext =="jpg" or pjcatalogue.ext =="png"%}
                                                                <img src="{{ asset('document/'~pjcatalogue.lien) }}" alt="Cinque Terre" width="50px" height="50px">
                                                            {% endif %}
                                                            {% if pjcatalogue.ext =="doc" or pjcatalogue.ext =="docx"%}
                                                                <img src="{{ asset('document/divers/doc.png') }}" alt="Cinque Terre" width="50px" height="50px">
                                                            {% endif %}


                                                        </a>
                                                        <div class="desc">
                                                            <strong>{{ pjcatalogue.nom }}</strong><br>
                                                        </div>

                                                    </div>
                                                </li>

                                            {% endfor %}
                                        {% endif %}

                                    </ul>
                                </div>
                                <label for="text">Contenu: <b class="text-danger" id="err_text"></b></label>
                                {{ catalogue.text|raw }}
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>


{% endblock %}



