{% extends 'base.html.twig' %}

{% block titre %}Liste de vos huiles{% endblock %}
{% block titre_page %}Huile{% endblock %}
{% block titre_description %}<br>Liste dee vos références d'huile disponibles{% endblock %}
{% block body %}

    <ul class="list-inline">
        {% if is_granted('ROLE_HUILE') %}
            <li><a href="{{ path('huile_new') }}" class="btn btn-lg btn-success"><i class="fa fa-plus-circle"></i> Nouveau Huile</a></li>
        {% endif %}
    </ul>


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Table liste stock d'huile</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-striped table-bordered" id="tableHuile">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Designation</th>
                    <th>Prixachat</th>
                    <th>Stocktotal</th>
                    <th>Alert</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for huile in huiles %}
                    <tr>
                        <td><a href="{{ path('huile_show', { 'id': huile.id }) }}">{{ huile.code }}</a></td>
                        <td>{{ huile.designation }}</td>
                        <td>{{ huile.prixAchat }}</td>
                        <td>{{ huile.stockTotal }}</td>
                        <td>{{ huile.alert }}</td>
                        <td>
                            <a href="{{ path('huile_show', { 'id': huile.id }) }}" class="btn btn-xs btn-default"><i class="fa fa-info-circle"></i> Info</a>
                            {% if is_granted('ROLE_HUILE') %}
                                <a href="{{ path('huile_edit', { 'id': huile.id }) }}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <!-- DataTables JS -->
    <script src="{{ asset('AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet"  href="{{ asset('AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">


    <script>
        $(document).ready(function() {
            $('#tableHuile').DataTable({
                pageLength: 100,
                language: {
                    processing:     "Traitement en cours...",
                    search:         "Rechercher&nbsp;:",
                    lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                    info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix:    "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable:     "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first:      "Premier",
                        previous:   "Pr&eacute;c&eacute;dent",
                        next:       "Suivant",
                        last:       "Dernier"
                    },
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                scrollCollapse: true,
                fixedColumns:   {
                    leftColumns: 1,
                    rightColumns: 1
                }
            });
        } );
    </script>


{% endblock %}
