{% extends 'base.html.twig' %}

{% block titre_page %} <strong class="text-primary">Fiche Huile</strong> {% endblock %}
{% block titre_description %}Information sur la référence d'huile{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-5">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-slack"></i> Fiche Information Produit</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                {% if is_granted('ROLE_HUILE') %}
                                    <li>
                                        <a href="{{ path('huile_edit', {'id' : huile.id}) }}" class="btn btn-info btn-lg"><i class="fa fa-edit"></i> Modifier</a>
                                    </li>
                                    {% if not huile.huileParDefaut %}
                                        <li>
                                            <a href="{{ path('huile_parDefaut', {'id' : huile.id}) }}" class="btn btn-warning btn-lg"><i class="fa fa-check"> Huile par defaut</i></a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>

                    </div>

                    <div >
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Designation</th>
                                <td>{{ huile.designation }}</td>
                            </tr>
                            <tr>
                                <th>Code</th>
                                <td>{{ huile.code }}</td>
                            </tr>
                            <tr>
                                <th>Prixachat</th>
                                <td>{{ huile.prixAchat|number_format(2, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <th>Stocktotal</th>
                                <td><b>{{ huile.stockTotal }}</b></td>
                            </tr>
                            <tr>
                                <th>Alert</th>
                                <td>{{ huile.alert }}</td>
                            </tr>
                            {% if huile.note %}
                                <tr>
                                    <td colspan="2"><b>Note: </b> <strong style="white-space: pre">                </strong>{{ huile.note|nl2br }}</td>
                                </tr>
                            {% endif %}


                            </tbody>
                        </table>
                        {% if huile.huileParDefaut %}
                            <p class="text-warning">Cette huile est l'huile par défaut pour les vidanges</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-slack"></i> Répartition du stock du produit</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <h4 class="text-primary">Répartition dans les dépôts:</h4>
                    <table class="table table-striped">
                        <tbody>
                        {% for depot in depots %}
                            <tr>
                                <th>{{ depot.abrv }}</th>
                                <td class="text-right">{{ depot|stockByDepot(huile) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                    <h4 class="text-primary">Répartition sur les sites:</h4>
                    <table class="table table-striped">
                        <tbody>
                        {% for listeSite in listeSiteStockages %}
                            <tr>
                                <th>{{ listeSite.emplacement }}</th>
                                <td class="text-right">{{ listeSite|stockBySite(huile) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="box">

                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-list-ol"></i> Historique du produit</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Libellé</th>
                                <th>Emplacement</th>
                                <th>Entrée</th>
                                <th>Sortie</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% set solde = 0 %}

                            {% for historiqueProduit in huile.historiqueProduits %}

                                {#-----------ENTRE et DEPLACEMET----------#}
                                {% if historiqueProduit.type == 'credit' %}

                                    {% set solde = solde + historiqueProduit.quantite %}

                                    {% if historiqueProduit.entre %}
                                        <tr>
                                            <td>{{ historiqueProduit.date|date('d/m/Y') }}</td>
                                            <td>Bon d'entrée: N° {{ historiqueProduit.entre.numero }}</td>
                                            <td>{{ historiqueProduit|emplacementHist }}</td>
                                            <td class="text-center success" >{{ historiqueProduit.quantite }}</td>
                                            <td class="success"></td>
                                        </tr>
                                    {% endif %}
                                    {% if historiqueProduit.deplacement %}
                                        <tr>
                                            <td>{{ historiqueProduit.date|date('d/m/Y') }}</td>
                                            <td>
                                                Transfert de produit(s): N° {{ historiqueProduit.deplacement.numero }}</td>
                                            <td>{{ historiqueProduit|emplacementHist }}</td>
                                            <td class="text-center success">{{ historiqueProduit.quantite }}</td>
                                            <td class="success"></td>
                                        </tr>
                                    {% endif %}
                                {% endif %}


                                {#-----------SORTIE et DEPLACEMET----------#}
                                {% if historiqueProduit.type == 'debit' %}

                                    {% set solde = solde - historiqueProduit.quantite %}

                                    {% if historiqueProduit.sortie %}
                                        <tr>
                                            <td>{{ historiqueProduit.date|date('d/m/Y') }}</td>
                                            <td>
                                                Bon de sortie: N° {{ historiqueProduit.sortie.numero }}</td>
                                            <td>{{ historiqueProduit|emplacementHist }}</td>
                                            <td class="danger"></td>
                                            <td class="danger text-center">{{ historiqueProduit.quantite }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if historiqueProduit.deplacement %}
                                        <tr>
                                            <td>{{ historiqueProduit.date|date('d/m/Y') }}</td>
                                            <td>
                                                Transfert de produit(s): N° {{ historiqueProduit.deplacement.numero }}</td>
                                            <td>{{ historiqueProduit|emplacementHist }}</td>
                                            <td class="danger"></td>
                                            <td class="danger text-center">{{ historiqueProduit.quantite }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if historiqueProduit.vidange %}
                                        <tr>
                                            <td>{{ historiqueProduit.date|date('d/m/Y') }}</td>
                                            <td>
                                                Vigange du groupe {{ historiqueProduit.vidange.groupe.numero }}</td>
                                            <td>{{ historiqueProduit|emplacementHist }}</td>
                                            <td class="danger"></td>
                                            <td class="danger text-center">{{ historiqueProduit.quantite }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
