{% extends 'base.html.twig' %}

{% block titre %}Liste Immo{% endblock %}
{% block titre_page %}Liste des bien immobilier{% endblock %}

{% block body %}

    <ul class="list-inline">
        {% if app.user|ifRole('ROLE_GESTION_IMMO') %}
            <li><a href="{{ path('immo_new') }}" class="btn btn-lg btn-success"><i class="fa fa-plus-circle"></i> Nouveau </a></li>
        {% endif %}
    </ul>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Table liste Immo</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table id="tableImmo" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Designation</th>
                            <th>Reference</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for immo in immos %}
                            <tr>
                                <td><a href="{{ path('immo_show', { 'id': immo.id }) }}">{{ immo.code }}</a></td>
                                <td>{{ immo.designation }}</td>
                                <td>{{ immo.reference }}</td>
                                <td>
                                    <a href="{{ path('immo_show', { 'id': immo.id }) }}" class="btn btn-default"><i class="fa fa-info-circle"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- DataTables JS -->
    <script src="{{ asset('AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet"  href="{{ asset('AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">


    <script>
        $(document).ready(function() {
            $('#tableImmo').DataTable({
                pageLength: 100,
                order: [[ 0, "desc" ]],
                language: {
                    processing:     "Traitement en cours...",
                    search:         "Rechercher&nbsp;:",
                    lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                    info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix:    "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable:     "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first:      "Premier",
                        previous:   "Pr&eacute;c&eacute;dent",
                        next:       "Suivant",
                        last:       "Dernier"
                    },
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        } );
    </script>
{% endblock %}
