{% extends 'base.html.twig' %}

{% block titre_page %} <strong class="text-success">Modifier bon d' entrée</strong> {% endblock %}
{% block titre_description %}Modification du bon d'entrée N° {{ entre.numero }}{% endblock %}
{% block body %}
    {% set i =0 %}
    {% set j =0 %}
    {% for lignE in entre.ligneEntres %}
        {% set i =i+1 %}
    {% endfor %}
    {% if entre.etat == 'En attente de confirmation' or entre.etat == 'Demande confirmée' %}
        {% set j =j+1 %}
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <form action="#" method="post">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-edit"></i> Formulaire de modification</h3>
                    </div>


                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="date" class=" control-label">Date :</label>
                            <div class="input-group date form_date " data-date="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input required class="form-control"  type="text" value="{{ entre.date|date('d/m/Y') }}" readonly name="date">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" /><br/>
                        </div>

                        <div class="form-group">
                            <label for="depot">Dépot de stockage <b class="text-danger" id="err_depot"></b></label>
                            <select required  class="form-control" name="depot" id="depot"

                                    {% if i>0  %}
                                        disabled
                                    {% endif %}
                            >

                                    <option value="">

                                    </option>
                                    {% for depot in depots %}

                                        <option value="{{ depot.id }}"
                                        {% if entre.depot and depot.nom==entre.depot.nom   %}
                                            selected
                                        {% endif %}
                                        >{{ depot.nom }}- - {{ entre.depot.abrv }} </option>

                                    {% endfor %}


                            </select>
                        </div>

                            <div class="form-group">
                                <label for="fournisseur">Fournisseur <b class="text-danger" id="err_fournisseur"></b></label>
                                <select
                                        {% if  j>0 %}
                                            disabled
                                        {% endif %}
                                        required  class="form-control" name="fournisseur" id="fournisseur" >

                                        <option value="">

                                        </option>


                                        {% for fournisseur in fournisseurs %}

                                            <option value="{{ fournisseur.id }}"
                                            {% if entre.fournisseur and fournisseur.nom==entre.fournisseur.nom   %}
                                                selected
                                            {% endif %}
                                            >{{ fournisseur.nom }} </option>

                                        {% endfor %}

                                    
                                </select>
                            </div>


                        <div class="form-group">
                            <label for="motif">Motif (facultatif): <b class="text-danger" id="err_motif"></b></label>
                            <textarea
                                    {% if  j>0 %}
                                         disabled
                                    {% endif %}
                                    rows="3" class="form-control" name="motif" id="motif" ></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" value="Modifier" class="btn btn-success btn-block" />
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('entre_index') }}" class="btn btn-default btn-block">Annuler</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <br><br><br><br><br><br>


    </script>

    {#   --------------------- SCRIPT SELECT 2 ---------------------  #}

    {#NUMERAL FORMAT#}
    <script>
        $('#fournisseur').select2();
        numeralFormat('#produitbundle_produit_prixAchat');
        numeralFormat('#produitbundle_produit_prixVente');
    </script>
    {#DATEPICKER#}
    <script src="{{ asset('DatePicker1/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('DatePicker1/js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
    <script>
        $('.form_date').datetimepicker({
            format: 'dd/mm/yyyy',
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
{% endblock %}
