{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nombreconfirmation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nombreConfirmation.id }}</td>
            </tr>
            <tr>
                <th>Nomdemande</th>
                <td>{{ nombreConfirmation.nomDemande }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ nombreConfirmation.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nombreconfirmation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('nombreconfirmation_edit', { 'id': nombreConfirmation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
