{% extends 'base.html.twig' %}

{% block titre_page %} <strong class="text-success">Ajouter heure marche </strong> {% endblock %}
{% block titre_description %} {% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <form action="#" method="post" autocomplete="off">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-plus-circle"></i> Formulaire d'ajout  heure de marche global</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="fournisseur">Groupe <b class="text-danger" id="err_groupe"></b></label>
                            <select required  class="form-control" name="groupe" id="groupe" >
                                    <option value="{{ groupe.id }}">{{ groupe.numero }} - {{ groupe.site.emplacement }} </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="input-group date form_date" data-date="" data-link-field="DateDebut" data-link-format="dd/mm/yyyy">
                                <label for="date" class="input-group-addon control-label">Date Début :</label>
                                <input  class="form-control "   type="text"  id="DateDebut" name="datedebut">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group date form_date" data-date="" data-link-field="DateFin" data-link-format="dd/mm/yyyy">
                                <label for="date" class="input-group-addon control-label">Date Fin:</label>
                                <input class="form-control"  type="text" id="DateFin"  name="datefin">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group " >
                                <label for="heure" class="input-group-addon control-label">Heure de marche:</label>
                                <input class="form-control only_float"  type="text" id="heure"  name="heure">
                            </div>
                        </div>

                        <input type="hidden" name="puissance" value="" id="puissance" class="form-control only_float">

                        <div class="form-group">
                            <div class="input-group " >
                                <label for="production" class="input-group-addon control-label ">Production: <b class="text-danger" id="err_production"></b></label>
                                <input type="text" class="form-control only_float calculCSP" name="production" id="production"  />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="input-group " >
                                <label for="consomation" class="input-group-addon control-label ">Consomation: <b class="text-danger" id="err_consomation"></b></label>
                                <input  type="text" class="form-control only_float calculCSP" name="consomation" id="consomation"  />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group " >
                                <label for="csp" class="input-group-addon control-label">Consomation specifique (CSP) <b class="text-danger" id="err_csp"></b></label>
                                <input type="text" class="form-control only_float" name="csp" id="csp"  />
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <h3>Appoint d'huile</h3>
                                    <div class="form-group">
                                        <input type="checkbox"  name="appoint_chkHuile" id="appoint_chkHuile"  />
                                        <label for="appoint_chkHuile" class="text-danger">Si huile en stock utilisé <b class="text-danger" id="err_appoint_chkHuile"></b></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="appoint_huileUtilise">Huile utilisé: <b class="text-danger" id="err_appoint_huileUtilise"></b></label>
                                        <input type="text" class="form-control only_float" name="appoint_huileUtilise" id="appoint_huileUtilise"  />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>Vidange</h3>
                                    <div class="form-group">
                                        <label for="vidange_typeVidange">Type du vidange: <b class="text-danger" id="err_vidange_typeVidange"></b></label>
                                        <select required class="form-control" name="vidange_typeVidange" id="vidange_typeVidange" >
                                            <option value="0" selected>Non-affecté</option>
                                            <option value="Filtre huile">Filtre huile</option>
                                            <option value="Filtre huile et filtre gasoil">Filtre huile et filtre gasoil</option>
                                            <option value="Vidange complet">Vidange complet</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="vidange_heureMarche">Heure de marche du groupe: <b class="text-danger" id="err_vidange_heureMarche"></b></label>
                                        <input type="text" class="form-control" name="vidange_heureMarche" id="vidange_heureMarche"  />
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox"  name="vidange_chkHuile" id="vidange_chkHuile"  />
                                        <label for="vidange_chkHuile" class="text-danger">Si huile en stock utilisé <b class="text-danger" id="err_vidange_chkHuile"></b></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="vidange_huileUtilise">Huile utilisé: <b class="text-danger" id="err_vidange_huileUtilise">(Stock dispo: {{ stockHuile }})</b></label>
                                        <input required type="text" class="form-control only_float" name="vidange_huileUtilise" id="vidange_huileUtilise" value="0" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-danger">
                                    <b>Stock dispo: {{ stockHuile }}</b>
                                    <p class="text-danger">*NB: Les valeurs de "Huile utilisé" ne seront plus modifiables</p>
                                </div>
                            </div>


                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="note">Note / Autre: <b class="text-danger" id="err_note"></b></label>
                            <textarea class="form-control" name="note" id="note" rows="3"></textarea>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success btn-block">Enregistrer</button>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('entre_index') }}" class="btn btn-default btn-block">Annuler</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <br><br><br><br><br><br>

    {#   --------------------- SCRIPT SELECT 2 ---------------------  #}

    {#NUMERAL FORMAT#}
    <script>
        $('#groupe').select2();
        numeralFormat('#csp');

    </script>

    {#DATEPICKER#}
    <script src="{{ asset('DatePicker1/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('DatePicker1/js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
    <script>
        $('.form_date').datetimepicker({
            format: 'dd/mm/yyyy',
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>

{#    SCRIPT CALCUL CSP#}
    <script>
        $('.calculCSP').keyup(function () {
            if ($('#consomation').val() > 0 && $('#production').val() > 0){
                setTimeout(function () {
                    consomation = $('#consomation').val();
                    production = $('#production').val();

                    csp = (consomation * 840)/production;

                    $('#csp').val(csp);
                    affichageFormat('#csp');
                }, 500)
            }

        });
    </script>




{% endblock %}