<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bordereau expédition</title>
    <style>
        div#bandeau {
            width: 1000px;
            height:350px;

        }
        div#contenu {
            width:1000px;
            height:auto;

        }
        div#piedpage {
            width:1000px;
            margin-top: 0px;

        }
        div#gauche {
            float: left;
            width:350px;
            height:50px;

        }
        div#droit {
            float: right;
            width:700;
            height:50px;

        }
        div#titre1 {
            float: left;
            width:500px;
            height:150px;

        }
        div#titre2 {
            float: right;
            width:500px;
            height:150px;

        }
        div#Scontenu {

            width:920px;
            height:auto;
            margin-top:0px ;
            margin-left: 30px;


        }
        img {


            margin-left: 45px;
            margin-top: 45px;

        }
        div#sgauche {
            margin-left: 30px;
        }
        div#sdroit {

            width:600px;
            margin-top: 110px;
        }
        div#stitre1 {
            border: 1px solid black;
            width:400px;
            margin-left: 30px;

            font-style: italic;
        }
        p{
            line-height: 0.5;

        }

        h2{
            margin: 10px;
        }
        div#stitre2 {

            margin-top: 50px;
            margin-left: 20px;}

        table {
            border: 1px solid black;
            border-collapse:collapse;
            border-style:solid;
            width:920px;
            text-align: left;

            margin: auto;
        }
        td{

            padding-left:10px;
        }
        th{
            text-align:center;white-space:nowrap
        }
        #footer {
            border:0px;
            width:920px;

        }
        td{
            margin-right: 20px;
            height:20px;

        }
        #piedtr{
            border-bottom: 1px solid #7f7f7f;

        }

        li{padding-bottom:10px}

    </style>
</head>
<body >

<div id="bandeau">
    <div id="gauche">
        <br>
        <img src="{{ asset('images/LocaPro.png') }}" width="250" height="100" alt="">
        <div id="sgauche">
            <p>28 , rue de la Poudrière Anjoma ,</p>
            <p>Plle 23/25 Atsinanana</p>
            <p>501 Toamasina</p>
            <p>Tél. : 034 59 109 62</p>

            <p>infos.locapro@groupe-ibc.com</p>
            <p>NIF 3003 300 382</p>
            <p>STAT 77100 31 2019 0 00212</p>

        </div>
    </div>
    <div id="droit">
        <div id="sdroit">
            <p style="margin-left:180px;margin-bottom:25px">Antananarivo, le {{ bonExpedition.date|date('d/m/Y') }}</p>

            <h3 style="display:inline">BORDEREAU D'EXPEDITION N°</h3>            <h3 style="display:inline;margin-left:10px"><u>{{ bonExpedition.numero }}</u></h3>

            <ul style="list-style:none;margin-left:-40px">
                <li>Destinataire : {{ bonExpedition.destination }}</li>
                <li>Adressé à : {{ bonExpedition.agent }}</li>
                <li>Tél destinataire: {{ bonExpedition.contactAgent }}</li>
                <li>Générateur : {{ bonExpedition.groupe.numero }} -|- {{ bonExpedition.groupe.site.emplacement }}</li>
                <li>Transporteur : {{ bonExpedition.transporteur }}</li>
                <li>Numéro : {{ bonExpedition.contactTransporteur }}</li>
                <li>Véhicule : {{ bonExpedition.vehiculeTransporteur }}</li>
            </ul>

        </div>
    </div>
</div>
<br>
{% if bonExpedition.motif and bonExpedition.motif != "" %}
    <div style="text-align: center">
        <p style="line-height: 20px"><b>Motif:</b> {{ bonExpedition.motif|nl2br }}</p>
    </div>
{% endif %}

<br><br>
<div id="contenu">

    <div id="Scontenu">
        <table border="1">

            <thead >

            <tr>
                <th>Références</th>
                <th width="50px" style="text-align: center">Quantité</th>
                <th>Désignations</th>
                <th>Observtions</th>
            </tr>

            </thead>

            <tbody>

            {% set nbrLigne = 0 %}
            {% set totalQuantite = 0 %}
            {% for ligne in bonExpedition.ligneBonExpeditions %}
                {% set nbrLigne = nbrLigne + 1 %}
                {% set totalQuantite = totalQuantite + ligne.quantite %}
                <tr>
                    <td>{{ ligne.produit.reference }}</td>
                    <td style="text-align: center">{{ ligne.quantite }}</td>
                    <td>{{ ligne.designation }}</td>
                    <td>{{ ligne.observation }}</td>
                </tr>
            {% endfor %}

            {% for i in nbrLigne..28 %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}

            <tr>
                <td   style="text-align:center">TOTAL COLIS</td  >
                <td style="text-align: center">{{ totalQuantite }}</td>
                <td colspan="2" style="text-align:center" >COUT D'EXPEDITION = {{ bonExpedition.coutTransport|number_format(2, ',', ' ') }} MGA</td>
            </tr>


            </tbody>

        </table>
        <br>

    </div>


</div>
<div id="piedpage">
    <table id="footer">

        <tr>
            <td>Expéditeur</td>
            <td ></td>
            <td style="float:left;margin-left:250px">Chauffeur</td>
            <td style="float:right">Receptionneur</td>
        </tr>

    </table>
</div>
<br/> <br><br><br><br><br>
<div style="text-align: center; margin-top: 15px;">
    <p style="font-style:italic">Merci d'en accuser réception et à nous retourner s'il vous plait</p>
    <b style="">Les marchandises voyagent aux risques et périls du destinataire</b>
</div>

</body>
</html>