{% extends 'base.html.twig' %}

{% block titre_page %} <strong class="text-success">Nouvelle Transfert</strong> {% endblock %}
{% block titre_description %}Transfert de produits d'un dépôt à un autre {% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <form action="#" method="post">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-plus-circle"></i> Formulaire de transfert </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="date" class=" control-label">Date :</label>
                            <div class="input-group date form_date " data-date="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input required class="form-control"  type="text" value="" readonly name="date">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" /><br/>
                        </div>

                        <div class="form-group">
                            <label for="numero">Numero transfert <b class="text-danger" id="err_numero"></b></label>
                            <input required type="text" class="form-control" name="numero" id="numero" value="{{ numero }}" readonly  />
                        </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="source_depot">Dépot de stockage source <b class="text-danger" id="err_source_depot"></b></label>
                            <select required  class="form-control" name="source_depot" id="source_depot" >
                                {% for depot in depots %}
                                    <option value="{{ depot.id }}">{{ depot.nom }} - {{ depot.abrv }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <br>
                            <div class="text-center">
                               <i class="fa fa-chevron-right fa-2x "></i><i class="fa fa-chevron-right fa-2x"></i>
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="destination_depot">Dépot de stockage déstination <b class="text-danger" id="err_destination_depot"></b></label>
                            <select required  class="form-control" name="destination_depot" id="destination_depot" >
                                {% for depot in depots %}
                                    <option value="{{ depot.id }}">{{ depot.nom }} - {{ depot.abrv }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                        <div class="form-group">
                            <label for="motif">Motif (facultatif): <b class="text-danger" id="err_motif"></b></label>
                            <textarea rows="3" class="form-control" name="motif" id="motif" ></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" id="btn" value="Créer" class="btn btn-success btn-block" />
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('deplacement_index') }}" class="btn btn-default btn-block">Annuler</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <br><br><br><br><br><br>


    {#NUMERAL FORMAT#}
    <script>
        numeralFormat('#produitbundle_produit_prixAchat');
        numeralFormat('#produitbundle_produit_prixVente');

        $('#btn').click(function () {
            if($('#source_depot').val()== $('#destination_depot').val())
            {
                $('#textModalDanger').text('Il faut changé la valeur du dépot déstination ');
                $('#modalDanger').modal();
                return false;
            }
        })
    </script>

    {#DATEPICKER#}
    <script src="{{ asset('DatePicker1/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('DatePicker1/js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
    <script>
        $('.form_date').datetimepicker({
            format: 'dd/mm/yyyy',
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
{% endblock %}
