{% extends 'base.html.twig' %}

{% block titre_page %} <strong class="text-danger">Modifier bon de sortie</strong> {% endblock %}
{% block titre_description %}Modification  du  bon de sortie N° {{ sortie.numero }}{% endblock %}
{% block body %}
    {% set i =0 %}
    {% set j= 0 %}
    {% for lignS in sortie.ligneSorties %}
        {% set i =i+1 %}
    {% endfor %}
    {% if sortie.etat == 'En attente de confirmation' or sortie.etat == 'Demande confirmée' %}
        {% set j =j+1 %}
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">

                <form action="#" method="post">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-edit"></i> Formulaire  de modification </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="date" class=" control-label">Date :</label>
                            <div class="input-group date form_date " data-date="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input required class="form-control"  type="text" value="{{ sortie.date|date('d/m/Y') }}" readonly name="date">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" /><br/>
                        </div>


                        <div class="form-group">
                            <label for="depot">Dépot de stockage <b class="text-danger" id="err_depot"></b></label>
                            <select required  class="form-control" name="depot" id="depot"

                                    {% if i>0  %}
                                         disabled
                                     {% endif %}
                            >

                                    <option value="">

                                    </option>

                                    {% for depot in depots %}

                                        <option value="{{ depot.id }}"
                                        {% if sortie.depot and depot.nom==sortie.depot.nom   %}
                                          selected
                                        {% endif %}
                                        >{{ depot.nom }}- - {{ sortie.depot.abrv }} </option>

                                    {% endfor %}

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="destination">Destination <b class="text-danger" id="err_destination"></b></label>
                            <input
                                    {% if  j>0 %}
                                        disabled
                                    {% endif %}
                                    type="text" value="{{ sortie.destination }}" class="form-control" name="destination" id="destination"  />
                        </div>

                            <div class="form-group">
                                <label for="groupe">Groupe <b class="text-danger" id="err_groupe"></b></label>
                                <select required  class="form-control" name="groupe" id="groupe"
                                        {% if  j>0 %}
                                            disabled

                                    {% endif %}
                                    >
                                        <option value="">

                                        </option>

                                        {% for groupe in groupes %}

                                                <option value="{{ groupe.id }}"
                                            {% if  sortie.groupe and groupe.numero==sortie.groupe.numero   %}
                                                selected
                                            {% endif %}
                                                >{{ groupe.numero }} </option>

                                        {% endfor %}


                                </select>
                            </div>


                            <div class="form-group">
                                <label for="motif">Motif (facultatif): <b class="text-danger" id="err_motif"></b></label>
                                <textarea
                                        {% if  j>0 %}
                                            disabled
                                        {% endif %}
                                        rows="3" class="form-control" name="motif" id="motif" >{{ sortie.motif }}</textarea>
                            </div>



                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" value="Modfier" class="btn btn-danger btn-block" />
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('sortie_index') }}" class="btn btn-default btn-block">Annuler</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <br><br><br><br><br><br>


    </script>


    {#   --------------------- SCRIPT SELECT 2 ---------------------  #}

    {#NUMERAL FORMAT#}
    <script>
        $('#groupe').select2();
       
    </script>
    {#DATEPICKER#}
    <script src="{{ asset('DatePicker1/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('DatePicker1/js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
    <script>
        $('.form_date').datetimepicker({
            format: 'dd/mm/yyyy',
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>

{% endblock %}
