{% extends 'base.html.twig' %}

{% block titre_page %} <strong class="text-primary">Modification ligne</strong> {% endblock %}
{% block titre_description %}Modification dans la ligne de sortie {{ ligneSortie.sortie.numero }}{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <form action="#" method="post">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-plus-circle"></i> Modification dans Bon de sortie n°
                            <a href="{{ path('sortie_afficher', {'id' : ligneSortie.sortie.id}) }}">{{ ligneSortie.sortie.numero }}</a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <input type="hidden" id="qttProduit" value="{{ ligneSortie.sortie.depot|stock(ligneSortie.produit) }}">

                        <div class="form-group">
                            <label for="produit">Produit <b class="text-danger" id="err_produit"></b></label>
                            <input required readonly type="text" class="form-control" name="produit" id="produit" value="{{ ligneSortie.produit.designation }} | {{ ligneSortie.produit.reference }} ({{  ligneSortie.sortie.depot|stock(ligneSortie.produit) }})" />
                        </div>
                        <div class="form-group">
                            <label for="designation">Désignation: <b class="text-danger" id="err_designation"></b></label>
                            <input required type="text" class="form-control" name="designation" id="designation" value="{{ ligneSortie.designation }}" />
                        </div>

                        <div class="form-group">
                            <label for="utilite">Utilité: <b class="text-danger" id="err_utilite"></b></label>
                            <input type="text" class="form-control" name="utilite" id="utilite" value="{{ ligneSortie.utilite }}"  />
                        </div>

                        <div class="form-group">
                            <label for="quantite">Quantité <b class="text-danger" id="err_quantite"></b></label>
                            <input required type="text" class="form-control only_float" name="quantite" id="quantite" value="{{ ligneSortie.quantite }}" />
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" id="btnModifierProduit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-save"></i> Enregistrer</button>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('entre_affcher', {"id" : ligneSortie.sortie.id}) }}" class="btn btn-default btn-lg btn-block">Annuler</a>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <button type="button" class="btn btn-lg btn-danger btnSupprimerLigne btn-block"  lien="{{ path('sortie_supprimerLigne', { 'id' : ligneSortie.id }) }}"><i class="fa fa-minus-circle "></i> Supprimer</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <br><br><br><br><br><br>


    {#MODALS SUPPRIMER LIGNE#}
    <div class="modal modal-danger fade" id="modalSupprimerLigne">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Vérification</h4>
                </div>
                <div class="modal-body">
                    <p>Attention! Voulez-vous supprimer cette ligne?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="lienSupprimerLigne" class="btn btn-outline"><i class="fa fa-minus-circle"></i> Supprimer</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuller</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    {#    NUMERAL FORMAT#}
    <script>
        numeralFormat('#prixAchat');
    </script>

    {#    SCRIPT SUPPRIMER LIGNE #}
    <script>
        $('.btnSupprimerLigne').click(function () {
            lien = $(this).attr('lien');
            $('#lienSupprimerLigne').attr('href', lien);
            $('#modalSupprimerLigne').modal();
        });
    </script>

    {#    TEST SI QUANTITE INSUFFISANTE#}
    <script>
        $('#btnModifierProduit').click(function () {
            stockProduit = + $('#qttProduit').val();

            inputQuantite = + $('#quantite').val();

            if (inputQuantite > stockProduit) {
                $('#textModalDanger').text('Erreur! La quantité est supérieur par rapport au stock dans le dépot');
                $('#modalDanger').modal();

                return false;
            }
        });
    </script>

{% endblock %}
