{% extends 'base.html.twig' %}

{% block titre_page %} <strong class="text-danger">Modifier bon de sortie</strong> {% endblock %}
{% block titre_description %}Modification  du  bon de sortie N° {{ sortie.numero }}{% endblock %}
{% block body %}
    {% set i =0 %}
    {% set j= 0 %}
    {% for lignS in sortie.ligneSorties %}
        {% set i =i+1 %}
    {% endfor %}
    {% if sortie.etat == 'En attente de confirmation' or sortie.etat == 'Demande confirmée' %}
        {% set j =j+1 %}
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">

                <form action="#" method="post">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-edit"></i> Formulaire  de modification </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="date" class=" control-label">Date :</label>
                            <div class="input-group date form_date " data-date="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input required class="form-control"  type="text" value="{{ sortie.date|date('d/m/Y') }}" readonly name="date">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" /><br/>
                        </div>

                        <div class="form-group">
                            <label for="destination">Destination <b class="text-danger" id="err_destination"></b></label>
                            <input
                                    {% if  j>0 %}
                                        disabled
                                    {% endif %}
                                    type="text" value="{{ sortie.destination }}" class="form-control" name="destination" id="destination"  />
                        </div>

                        <div class="form-group">
                            <label for="groupe">Groupe <b class="text-danger" id="err_groupe"></b></label>
                            <select required  class="form-control" name="groupe" id="groupe"
                                    {% if  j>0 %}
                                        disabled

                                {% endif %}
                                >
                                    <option value="">

                                    </option>

                                    {% for groupe in groupes %}

                                            <option value="{{ groupe.id }}"
                                        {% if  sortie.groupe and groupe.numero==sortie.groupe.numero   %}
                                            selected
                                        {% endif %}
                                            >{{ groupe.numero }} </option>

                                    {% endfor %}


                            </select>
                        </div>


                        <div class="form-group">
                            <label for="motif">Motif (facultatif): <b class="text-danger" id="err_motif"></b></label>
                            <textarea rows="3" class="form-control" name="motif" id="motif" >{{ sortie.motif }}</textarea>
                        </div>

                        <!-- ----------------  DEPOT OU SITE ------------------ -->

                        <div class="box" id="choixEmplacement">
                            <div class="box-header with-border">
                                <h4 class="box-title text-primary"> Emplacement d'entré</h4>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="funkyradio">
                                            <div class="funkyradio-primary">
                                                <input type="radio" name="emplacement" id="emplacementDepot" value="depot"
                                                        {% if sortie.depot %}
                                                            checked
                                                        {% endif %}
                                                />
                                                <label for="emplacementDepot">Dépôt</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="emplacementDepot">
                                            <div class="form-group">
                                                <label for="depot">Dépôt de stockage <b class="text-danger" id="err_depot"></b></label>
                                                <select required  class="form-control" name="depot" id="depot">

                                                    {% for key, depot in depots %}
                                                        <option value="{{ depot.id }}" {% if sortie.depot == depot %}selected {% endif %}>{{ depot.nom }} - {{ depot.abrv }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="funkyradio">
                                            <div class="funkyradio-info">
                                                <input type="radio" name="emplacement" id="emplacementSite" value="site"
                                                        {% if sortie.site %}
                                                            checked
                                                        {% endif %}
                                                />
                                                <label for="emplacementSite">Site</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="emplacementSite">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="site">Site: <b class="text-danger" id="err_site"></b></label>
                                                    <select required class="form-control" name="site" id="site">
                                                        {% for key, site in sites %}
                                                            <option value="{{ site.id }}" {% if sortie.site == site %}selected {% endif %}>{{ site.emplacement }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ----------------  ///// DEPOT OU SITE ///// ------------------ -->


                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" value="Modfier" class="btn btn-danger btn-block" />
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('sortie_index') }}" class="btn btn-default btn-block">Annuler</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <br><br><br><br><br><br>

    {#   --------------------- SCRIPT SELECT 2 ---------------------  #}

    {#NUMERAL FORMAT#}
    <script>
        $('#groupe').select2();
       
    </script>
    {#DATEPICKER#}
    <script src="{{ asset('DatePicker1/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('DatePicker1/js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
    <script>
        $('.form_date').datetimepicker({
            format: 'dd/mm/yyyy',
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>

    <script>
        $('#site').select2();
        $('#depot').select2();
    </script>

    {#    SCRIPT CHOIX EMPLACEMENT#}
    <script>
        $('#site').prop('disabled', true);
        $('#depot').prop('disabled', false);

        $('#emplacementDepot').click(function () {
            $('#site').prop('disabled', true);
            $('#depot').prop('disabled', false);
        });

        $('#emplacementSite').click(function () {
            $('#site').prop('disabled', false);
            $('#depot').prop('disabled', true);
        });

    </script>

    {% if sortie.site %}
        <script>
            $('#site').prop('disabled', false);
            $('#depot').prop('disabled', true);
        </script>
    {% endif %}
    {% if sortie.depot %}
        <script>
            $('#site').prop('disabled', true);
            $('#depot').prop('disabled', false);
        </script>
    {% endif %}

    {% if  j>0 %}
        <script>
            $('#choixEmplacement').hide();
        </script>
    {% endif %}

{% endblock %}
