{% extends 'base.html.twig' %}

{% block titre_page %} <strong class="text-danger">Nouvelle sortie</strong> {% endblock %}
{% block titre_description %}Création d'une sortie en stock{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <form action="#" method="post">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-plus-circle"></i> Formulaire Bon de sortie</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="date" class=" control-label">Date :</label>
                            <div class="input-group date form_date " data-date="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input required class="form-control"  type="text" value="" readonly name="date">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" /><br/>
                        </div>

                        <div class="form-group">
                            <label for="numero">Numero du bon de sortie <b class="text-danger" id="err_numero"></b></label>
                            <input required type="text" class="form-control" name="numero" id="numero" value="{{ numero }}" readonly  />
                        </div>

                        <div class="form-group">
                            <label for="depot">Dépot de stockage <b class="text-danger" id="err_depot"></b></label>
                            <select required  class="form-control" name="depot" id="depot" >
                                {% for depot in depots %}
                                    <option value="{{ depot.id }}">{{ depot.nom }} - {{ depot.abrv }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="destination">Destination <b class="text-danger" id="err_destination"></b></label>
                            <input type="text" class="form-control" name="destination" id="destination"  />
                        </div>
                        <div class="form-group">
                            <label for="groupe">Groupe <b class="text-danger" id="err_groupe"></b></label>
                            <select required  class="form-control" name="groupe" id="groupe" >
                                <option value=" ">
                                </option>
                                {% for groupe in groupes %}
                                    <option value="{{ groupe.id }}">{{ groupe.numero }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="motif">Motif (facultatif): <b class="text-danger" id="err_motif"></b></label>
                            <textarea rows="3" class="form-control" name="motif" id="motif" ></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" value="Créer" class="btn btn-danger btn-block" />
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('sortie_index') }}" class="btn btn-default btn-block">Annuler</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <br><br><br><br><br><br>

    </script>

 {#   <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-colorpicker.min.js') }}"></script>#}


    {#   --------------------- SCRIPT SELECT 2 ---------------------  #}

    {#NUMERAL FORMAT#}
    <script>
        $('#groupe').select2();
        numeralFormat('#produitbundle_produit_prixAchat');
        numeralFormat('#produitbundle_produit_prixVente');
    </script>

    {#DATEPICKER#}
    <script src="{{ asset('DatePicker1/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('DatePicker1/js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
    <script>
        $('.form_date').datetimepicker({
            format: 'dd/mm/yyyy',
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
{% endblock %}
