{% extends 'base.html.twig' %}

{% block titre %}{{ bonLivraison.numero }}{% endblock %}
{% block titre_page %} <a href="{{ path('bonLivraison_index') }}"><strong class="text-danger"><i class="fa fa-minus-circle"></i>Bon de livraison</strong></a> {% endblock %}
{% block titre_description %}
    Les informations sur le bon de livraison
{% endblock %}
{% block body %}

    {% set  DEMANDE_ENATTENTE = 'En attente de confirmation' %}
    {% set  DEMANDE_CONFIRME = 'Demande confirmée' %}
    {% set  DEMANDE_REFUSER = 'Demande refusée' %}
    {% set  DEMANDE_CLOTURE = 'Demande clôturée' %}
    {% set  DEMANDE_ENATTENTE_REC = 'En attente de reconfirmation' %}


    {#COULEUR DE L'ETAT#}
    {% set couleurEtat = '' %}
    {% if bonLivraison.etat == DEMANDE_ENATTENTE or bonLivraison.etat == DEMANDE_ENATTENTE_REC %}
        {% set couleurEtat = 'warning' %}
    {% endif %}
    {% if bonLivraison.etat == DEMANDE_CONFIRME %}
        {% set couleurEtat = 'success' %}
    {% endif %}
    {% if bonLivraison.etat == DEMANDE_REFUSER or bonLivraison.etat == DEMANDE_CLOTURE %}
        {% set couleurEtat = 'danger' %}
    {% endif %}


    <div class="row">
        <div class="col-md-3">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Information du bon de livraison</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <tr>
                            <td>Numero:</td>
                            <td><b>{{ bonLivraison.numero }}</b></td>
                        </tr>
                        <tr>
                            <td>Date d'expedition:</td>
                            <td>{{ bonLivraison.date|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td>Date d'arrivée:</td>
                            {% if bonLivraison.dateArrivee %}
                                <td class="text-success text-"><b>{{ bonLivraison.dateArrivee|date('d/m/Y') }}</b></td>
                            {% else %}
                                <td>(Non-livré)</td>
                            {% endif %}
                        </tr>
                        {% if bonLivraison.dateArrivee %}

                        {% endif %}
                        <tr>
                            <td>Dépôt:</td>
                            {% if bonLivraison.depot %}
                                <td><i>Dépôt</i> {{ bonLivraison.depot.nom }}</td>
                            {% endif %}
                            {% if bonLivraison.site %}
                                <td><i>Site</i> {{ bonLivraison.site.emplacement }} </td>
                            {% endif %}
                        </tr>
                    {#    {% if bonLivraison.destination %}
                            <tr>
                                <td>Destination:</td>
                                <td>{{ bonLivraison.destination }}</td>
                            </tr>
                        {% endif %}#}
                        {% if bonLivraison.groupe %}
                            <tr>
                                <td>Groupe de destination :</td>

                                <td><a target="_blank" href="{{ path('groupe_show',{'id':bonLivraison.groupe.id}) }}">{{ bonLivraison.groupe.numero }} - {{ bonLivraison.groupe.site.emplacement }}</a></td>
                            </tr>
                        {% endif %}

                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h3 class="text-center">Etat du B.S.: <i class="text-{{ couleurEtat }}">{{ bonLivraison.etat }}</i></h3>
            <ul class="list-inline">
                <li>

                    <button class="btn btn-lg btn-danger hide" type="button" data-toggle="modal" id="btnEnregistrerSortie" data-target="#modalEnregistrerSortie"><i class="fa fa-save" ></i> Enregistrer</button>

                </li>
                {% if bonLivraison.modifiable or (bonLivraison.etat == 'En attente de confirmation' or bonLivraison.etat == 'Demande confirmée') and (bonLivraison.userCreer == app.user or app.user|ifRole('ROLE_RESP') or app.user|ifRole('ROLE_SAI_DATE_ARRIVE')) %}
                    <li>
                        <a href="{{ path('bonLivraison_edit', {'id' : bonLivraison.id}) }}" class="btn btn-lg btn-info"><i class="fa fa-edit"></i>Modifier</a>
                        {% if not bonLivraison.dateArrivee %}
                            <button class="btn btn-lg btn-success" type="button" data-toggle="modal" data-target="#modalDateArrivee"><i class="fa fa-refresh" ></i> Date d'arrivée</button>
                        {% endif %}

                    </li>
                {% endif %}
                {% if bonLivraison.etat == DEMANDE_CONFIRME %}
                    <li>
{#                        <a href="{{ path('bonLivraison_imprimer', {'id' : bonLivraison.id}) }}" class="btn btn-lg btn-warning"><i class="fa fa-print"></i> Imprimer</a>#}
                    </li>
                {% endif %}
            </ul>
            {% if bonLivraison.motif %}
                <div>
                    <p ><b>Motif:</b></p>
                    <p>{{ bonLivraison.motif|nl2br }}</p>
                </div>
            {% endif %}

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-file"></i> Pièce jointe</h3><br>
                    <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalPieceJointe"><i class="fa fa-plus"></i> Ajouter</button>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                    <ul>
                        {% for piece in bonLivraison.pjbonLivraisons %}
                            <li>
                                <a href="{{ asset('document/'~piece.url) }}" target="_blank">{{ piece.nom }} <i class="fa fa-download"></i></a>
                                {% if piece.userCreer == app.user or app.user|ifRole('ROLE_RESP') %}
                                    -|- <a href="{{ path('pjGestion_supprimer', {'id' : piece.id}) }}" onclick="return confirm('Voulez-vous supprimer?')" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>


                </div>
            </div>
        </div>
        {% if (bonLivraison.etat == DEMANDE_ENATTENTE or bonLivraison.etat == DEMANDE_ENATTENTE_REC ) and app.user|ifRole('ROLE_RESP') %}
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Menu confirmation</h3>
                    </div>
                    <!-- /.box-header -->
                    {% if app.user in bonLivraison.userConfirmes %}
                        <div class="box-body">
                            <p class="text-success">Vous avez confirmer cette de demande</p>
                        </div>
                    {% else %}
                        <div class="box-body">
                            {% if bonLivraison.userConfirmes|length > 0 %}
                                <p>Demande confirmer par:</p>
                                <ul>
                                    {% for userConfirme in bonLivraison.userConfirmes %}
                                        <li>{{ userConfirme.nom }}</li>
                                    {% endfor %}
                                </ul>

                            {% endif %}

                            <a href="{{ path('bonLivraison_confirmer', {'id' : bonLivraison.id} )}}" id="btnConfirmerSortie" class="btn btn-lg btn-block btn-success">
                                <i class="fa fa-check-circle"></i> Accepter
                            </a>
                            <button type="button" class="btn btn-lg btn-block btn-danger" data-toggle="modal" data-target="#modalRefuserSortie">
                                <i class="fa fa-minus-circle"></i> Refuser
                            </button>
                            <button type="button" class="btn btn-lg btn-block btn-warning" data-toggle="modal" data-target="#modalCloturerSortie">
                                <i class="fa fa-warning"></i> Clôturer
                            </button>
                        </div>
                    {% endif %}

                </div>
            </div>
        {% elseif bonLivraison.etat == DEMANDE_REFUSER and app.user|ifRole('ROLE_RESP') %}
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Menu confirmation</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p class="text-danger">Refusé par: <b>{{ bonLivraison.userRefuser.nom }}</b></p>
                        <p><b class="text-danger">Motif:</b> {{ bonLivraison.texte }}</p>

                        <a href="{{ path('bonLivraison_confirmer', {'id' : bonLivraison.id}) }}" id="btnConfirmerSortie" class="btn btn-lg btn-block btn-success">
                            <i class="fa fa-check-circle"></i> Reconfirmer
                        </a>

                        <button type="button" class="btn btn-lg btn-block btn-warning" data-toggle="modal" data-target="#modalCloturerSortie">
                            <i class="fa fa-warning"></i> Clôturer
                        </button>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Menu confirmation</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% if bonLivraison.userConfirmes|length > 0 %}
                            <p>Demande confirmer par:</p>
                            <ul>
                                {% for userConfirme in bonLivraison.userConfirmes %}
                                    <li>{{ userConfirme.nom }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if bonLivraison.userRefuser and bonLivraison.etat == DEMANDE_REFUSER %}
                            <p > <b class="text-danger">Refusé par: </b>{{ bonLivraison.userRefuser.nom }}</p>
                            <p><b class="text-danger">Cause: </b> {{ bonLivraison.texte }}</p>
                        {% endif %}
                        {% if bonLivraison.userRefuser and bonLivraison.etat == DEMANDE_CLOTURE %}
                            <p > <b class="text-danger">Demande clôturée par: </b>{{ bonLivraison.userRefuser.nom }}</p>
                            <p><b class="text-danger">Cause: </b> {{ bonLivraison.texte }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Produit incluse dans le B.L</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <form action="{{ path('bonLivraison_ajouterLigne', { 'id' : bonLivraison.id }) }}"  method="post" autocomplete="off" >
                        <table class="table table-striped table-bordered" id="tableEntre">
                            <thead>
                            <tr>
                                <th>Code Produit</th>
                                <th>Libellé</th>
                                <th>Réf. produit</th>
                                <th>Quantité</th>
                                {% if bonLivraison.modifiable and bonLivraison.userCreer == app.user %}
                                    <th class="action">Action</th>
                                {% endif %}
                            </tr>
                            </thead>

                            {% set erreurLigne = 0 %}

                            <tbody>
                            {% for lignebonLivraison in bonLivraison.lignebonLivraisons %}
                                {% set couleurLigne = '' %}
                                {% set couleurQuantite = '' %}

                                {% set qttProduit = -1 %}
                                {% if bonLivraison.site %}
                                    {% set qttProduit = bonLivraison.site|stockBySite(lignebonLivraison.produit) %}
                                {% endif %}

                                {% if bonLivraison.depot %}
                                    {% set qttProduit = bonLivraison.depot|stockByDepot(lignebonLivraison.produit) %}
                                {% endif %}

                                {% if lignebonLivraison.quantite > qttProduit and bonLivraison.etat != 'Demande confirmée' %}
                                    {% set couleurLigne = 'danger' %}
                                    {% set couleurQuantite = 'text-danger' %}

                                    {% set erreurLigne = erreurLigne + 1 %}
                                {% endif %}

                                <tr class="{{ couleurLigne }} ">
                                    <td  class="class_produit" idProduit="{{ lignebonLivraison.produit.id }}" >
                                        {% set ligneCode = '<i class="">Non-codé</i>' %}
                                        {% set pathProduit = path('produit_show', {'id' : lignebonLivraison.produit.id}) %}
                                        {% if lignebonLivraison.produit.code %}
                                            {% set ligneCode = lignebonLivraison.produit.code %}
                                        {% endif %}

                                        {% if lignebonLivraison.produit.siHuile %}
                                            {% set pathProduit = path('huile_show', {'id' : lignebonLivraison.produit.id}) %}
                                            {% set ligneCode = '<b class="text-warning">(H)</b> '~ligneCode %}
                                        {% endif %}

                                        <a href="{{ pathProduit }}" target="_blank">{{ ligneCode|raw }}</a>
                                    </td>
                                    <td>
                                        {{ lignebonLivraison.designation }}
                                        {% if lignebonLivraison.observation %}
                                            <br>
                                            - {{ lignebonLivraison.observation }}
                                        {% endif %}

                                    </td>
                                    <td>{{ lignebonLivraison.produit.reference }}</td>
                                    <td class="{{ couleurQuantite }} ">
                                        {{ lignebonLivraison.quantite }}
                                        {% if couleurLigne != '' %}
                                            <i style="font-size: 80%">(Quantité actuel insuffisante)</i>
                                        {% endif %}
                                    </td>
                                    {% if bonLivraison.modifiable and bonLivraison.userCreer == app.user %}
                                        <td class="action">
                                            <button type="button" class="btn btn-xs btn-danger btnSupprimerLigne"  lien="{{ path('bonLivraison_supprimerLigne', { 'id' : lignebonLivraison.id }) }}"><i class="fa fa-minus-circle "></i></button>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                            {% if bonLivraison.modifiable and bonLivraison.userCreer == app.user %}

                                <tfoot id="formLigne">
                                <tr >
                                    <td>
                                        <div class="form-group" >
                                            <select required  class="form-control" name="produit" id="produit" >
                                                <option value=""></option>
                                                {% for produit in produits %}
                                                    {% set qttProduit = '-' %}
                                                    {% if bonLivraison.site %}
                                                        {% set qttProduit = bonLivraison.site|stockBySite(produit) %}
                                                    {% endif %}

                                                    {% if bonLivraison.depot %}
                                                        {% set qttProduit = bonLivraison.depot|stockByDepot(produit) %}
                                                    {% endif %}

                                                    <option value="{{ produit.id }}"  quantite="{{ qttProduit }}">
                                                        {% if produit.siHuile %}
                                                            (H)
                                                        {% endif %}
                                                        {{ produit.designation }} - {{ produit.code }} | {{ produit.reference }} <b>({{ qttProduit }})</b>
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input required type="text" class="form-control" name="designation" id="designation"   />
                                            <input  type="text" class="form-control" name="observation" id="observation" placeholder="Observation" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="reference" id="reference"  readonly />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group text-center">
                                            <input required type="text" class="form-control only_float" name="quantite" id="quantite" placeholder="Quantité"  />
                                            <button class="btn btn-success" type="submit" id="btnAjouterProduit"><i class="fa fa-plus-circle"></i> Ajouter la ligne</button>
                                            <button class="btn btn-default" id="btnAnnulerProduit" type="button">Annuler</button>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            {% endif %}

                        </table>

                    </form>
                    {% if bonLivraison.modifiable %}
                        <div class="center-block text-center" >
                            <img src="{{ asset('images/loading.gif') }}" alt="" id="imgLoading">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {#    <-------------------------------------------------------------------------------------->#}
    {#MODALS SUPPRIMER LIGNE#}
    <div class="modal modal-danger fade" id="modalSupprimerLigne">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Vérification</h4>
                </div>
                <div class="modal-body">
                    <p>Attention! Voulez-vous supprimer cette ligne?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="lienSupprimerLigne" class="btn btn-outline"><i class="fa fa-minus-circle"></i> Supprimer</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuller</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    {#    MODAL ENREGISTRER ENTRE#}
    <div class="modal fade" id="modalEnregistrerSortie" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-warning">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p><b class="text-danger">Attention!</b> Voulez-vous vraiment enregistrer le bon de livraison? <br> <i>L'action est irréversible</i></p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('bonLivraison_enregistrer', {'id' : bonLivraison.id}) }}" class="btn btn-warning ">Accepter</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>

        </div>
    </div>

    <!-- MODAL REFUSER ENTRE -->
    <div class="modal fade" id="modalRefuserSortie" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form action="{{ path('bonLivraison_refuser', {'id' : bonLivraison.id}) }}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-danger">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p><b class="text-danger">Attention!</b> Voulez-vous vraiment refuser la demande de bon de livraison? </p>
                        <br>
                        <div class="form-group">
                            <label for="text">Motif du refus <b class="text-danger" id="err_text"></b></label>
                            <textarea required type="text" class="form-control" name="text" id="text" rows="4" ></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" > Refuser</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <!-- MODAL CLOTURER ENTRE -->
    <div class="modal fade" id="modalCloturerSortie" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-warning">Confirmation</h4>
                </div>
                <form action="{{ path('bonLivraison_cloturer', { 'id' : bonLivraison.id }) }}" method="post">
                    <div class="modal-body">
                        <p><b class="text-warning">Attention!</b> Voulez-vous vraiment clôturer la demande de bon de livraison? <br> <i>L'action est irréversible</i></p>
                        <div class="form-group">
                            <label for="text">Motif du clôture <b class="text-danger" id="err_text"></b></label>
                            <textarea required type="text" class="form-control" name="text" id="text" rows="4" ></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning" > Clôturer</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- DATE ARRIVE -->
    <div class="modal fade" id="modalDateArrivee" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">Changement date d'arrivé sur site</h4>
                </div>
                <form action="{{ path('bonLivraison_dateArrivee', {'id' : bonLivraison.id}) }}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="date" class=" control-label">Date d'arrivée sur site:</label>
                            <div class="input-group date form_date " data-date="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input required class="form-control"  type="text" value="" readonly name="dateArrivee">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" /><br/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" > Enregistrer</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    {#DATEPICKER#}
    <script src="{{ asset('DatePicker1/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('DatePicker1/js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
    <script>
        $('.form_date').datetimepicker({
            format: 'dd/mm/yyyy',
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>

    {#    MODAL PIECE JOINTE#}
    {% set typeDoc = 'livraison' %}
    {% set idDoc = bonLivraison.id %}
    {% include '@Gestion/pieceJointe/modalPieceJointe.html.twig' %}


    <script>
        produits = [];
    </script>

    {% for produit in produits %}
        <script>
            produit = [];
            produit.id = {{ produit.id }};
            produit.designation = '{{ produit.designation }}';
            produit.reference = '{{ produit.reference }}';

            produits.push(produit);
        </script>
    {% endfor %}

    <script>
        $('#formLigne').removeClass('hide');
        $('#imgLoading').addClass('hide');

        $('#produit').select2();
    </script>

    {#    ----------------- SCRIPT SELECTION DU PRODUIT ----------------- #}
    <script>
        $('#produit').change(function () {

            idProduit = $(this).val();

            $(produits).each(function (index,produit) {
                if(produit.id == idProduit){
                    //------ TRAITEMENT --------------
                    $('#designation').val(produit.designation);
                    $('#reference').val(produit.reference);

                    $('#quantite').focus();
                }
            })

        });
    </script>
    {#    ----------------- SCRIPT SELECTION DU PRODUIT ----------------- #}

    {#    BTN ANNULER LIGNE#}
    <script>
        $('#btnAnnulerProduit').click(function () {
            $('#designation').val('');
            $('#reference').val('');
            $('#produit').val("");
            $('#observation').val("");
        });
    </script>

    {#    TEST DES PRODUITS EXISTANT#}
    <script>
        var produitIncluses = new Array();

        $('.class_produit').each(function (item, idProduit) {
            produitIncluses.push($(idProduit).attr('idProduit'));
            // console.log(idProduit.attr());
        });

        // console.log(produits);

        $('#btnAjouterProduit').click(function () {

            if(produitIncluses.indexOf($('#produit').val()) > -1){
                $('#textModalDanger').text('Erreur! Le produit existe déjà dans les lignes du B.L.');
                $('#modalDanger').modal();
                return false;
            }
        });
    </script>

    {#    QUANTITE < 1#}
    <script>
        $('#btnAjouterProduit').click(function () {
            if($('#quantite').val() <= 0){
                $('#textModalDanger').text('Erreur! La quantité doit être plus grand que zéro (0)');
                $('#modalDanger').modal();
                return false;
            }
        });
    </script>

    {#    TEST SI QUANTITE INSUFFISANTE#}
    <script>
        $('#btnAjouterProduit').click(function () {

            stockProduit =  + $('#produit').children("option:selected").attr('quantite');;

            inputQuantite = + $('#quantite').val();

            if (Number.isNaN(stockProduit)) {
                $('#textModalDanger').text('Erreur! La quantité est supérieur par rapport au stock dans le Dépôt');
                $('#modalDanger').modal();

                return false;
            }

            if (inputQuantite > stockProduit) {
                $('#textModalDanger').text('Erreur! La quantité est supérieur par rapport au stock dans le Dépôt');
                $('#modalDanger').modal();

                return false;
            }
        });
    </script>


    {#    SCRIPT SUPPRIMER LIGNE #}
    <script>
        $('.btnSupprimerLigne').click(function () {
            lien = $(this).attr('lien');
            $('#lienSupprimerLigne').attr('href', lien);
            $('#modalSupprimerLigne').modal();
        });
    </script>

    {#    SCRIPT TEST ERREUR DANS LES LIGNE#}
    {% if erreurLigne > 0 %}
        <script>
            $('#btnEnregistrerSortie').attr('disabled', true);
            $('#btnEnregistrerSortie').attr('title', 'Erreur! Veuillez vérifier les quantités des produits');

            $('#btnEnregistrerSortie').click(function () {
                $('#textModalDanger').text('Erreur! Veuillez vérifier les quantités des produits');
                $('#modalDanger').modal();
            });
        </script>
    {% endif %}

    {% if erreurLigne > 0 and bonLivraison.etat == 'En attente de confirmation' and app.user|ifRole('ROLE_RESP') %}
        <script>
            $('#btnConfirmerSortie').attr('disabled', true);
            $('#btnConfirmerSortie').attr('title', 'Erreur! Veuillez vérifier les quantités des produits');
            $('#btnConfirmerSortie').attr('href', '#');


            $('#btnConfirmerSortie').click(function () {
                $('#textModalDanger').text('Erreur! Veuillez vérifier les quantités des produits');
                $('#modalDanger').modal();
            });
        </script>
    {% endif %}

    {#    SCRIPT AFFICHE ENREGISTRER#}
    {% if bonLivraison.modifiable and bonLivraison.userCreer == app.user %}
        <script>
            $('#btnEnregistrerSortie').removeClass('hide');
        </script>
    {% endif %}



{% endblock %}
