{% extends 'base.html.twig' %}

{% block body %}
    <h1>Depot</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depot.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ depot.nom }}</td>
            </tr>
            <tr>
                <th>Abrv</th>
                <td>{{ depot.abrv }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('depot_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('depot_edit', { 'id': depot.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
