{% extends 'base.html.twig' %}

{% block titre %} Liste Pièce{% endblock %}
{% block titre_page %}Liste Pièce{% endblock %}
{% block titre_description %}<br>Liste des pièces détachés{% endblock %}
{% block body %}
    <ul class="list-inline">
        <li><a href="{{ path('listepiece_new') }}" class="btn btn-lg btn-success"><i class="fa fa-plus-circle"></i> Nouvelle pièce détachée</a></li>
    </ul>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Table liste pièce</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-bordered" id="tablePiece">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Pièce compatible</th>
                            <th>Pièce équivalente</th>
                            <th>Groupe</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for listePiece in listePieces %}
                            <tr>
                                <td>{{ listePiece.nom }}</td>
                                <td>{{ listePiece.produit.designation }} - {{ listePiece.produit.reference }} </td>
                                <td>
                                    <ul style="list-style: none">
                                        {% for refEqui in listePiece.produits  %}
                                            <li >{{ refEqui.designation }} - {{ refEqui.reference }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <ul style="list-style: none">
                                        {% for grpComp in listePiece.groupes  %}
                                            <li >
                                                <a href="{{ path('groupe_show', {'id' : grpComp.id }) }}" target="_blank">{{ grpComp.marque }} - {{ grpComp.numero}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <a href="{{ path('listepiece_show', { 'id': listePiece.id }) }}" class="btn btn-xs btn-default"><i class="fa fa-eye"></i>Voir</a>

                                    <a href="{{ path('listepiece_edit', { 'id': listePiece.id }) }}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Modifier</a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <!-- DataTables JS -->
    <script src="{{ asset('AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet"  href="{{ asset('AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">


    <script>
        $(document).ready(function() {
            $('#tablePiece').DataTable({
                pageLength: 50,
                order: [[ 0, "desc" ]],
                language: {
                    processing:     "Traitement en cours...",
                    search:         "Rechercher&nbsp;:",
                    lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                    info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix:    "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable:     "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first:      "Premier",
                        previous:   "Pr&eacute;c&eacute;dent",
                        next:       "Suivant",
                        last:       "Dernier"
                    },
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        } );
    </script>


{% endblock %}

